.home-kesfet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(
        circle at center,
        rgba(255, 215, 0, 0.25),
        rgba(14, 14, 14, 1)
    );
    font-size: 20px;
    padding: 40px 20px; 
    min-height: 300px; 
    text-align: center;
}

.home-title {
    margin-bottom: 10px;
    color: #fff; 
}

.home-subtitle {
    margin-bottom: 25px;
    color: #ddd;
}

.home-kesfet-btn {
    text-decoration: none;
    color: black;
    background-color: #FFD700;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    transition: transform 0.2s;
}

.home-kesfet-btn:hover {
    transform: scale(1.05); 
}

.home-meal-card-highlights {
    text-align: center;
    margin: 40px 0 20px 0;
    font-size: 1.5rem;
}


.highlights-meal {
    display: flex;
    justify-content: center; 
    gap: 30px; 
    flex-wrap: wrap; 
    padding: 0 20px;
    margin-bottom: 50px;
}


.home-meal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; 
    background-color: #1e1e1e; 
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
}

.home-meal-card:hover {
    transform: translateY(-30px);
    box-shadow: 0 0 30px rgba(255, 215, 0, 0.5);
}

.home-meal-card h4 {
    margin: 15px 0;
    text-align: center;
    color: #FFD700; 
}

.home-meal-card-img {
    width: 100%;
    height: 300px; 
    object-fit: cover; 
    border-radius: 15px;
}

.details-btn {
    text-decoration: none;
    background-color: #333;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #FFD700;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s;
}

.details-btn:hover {
    background-color: #FFD700;
    color: black;
}