.header-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.layout-logo{
 width: 100px;
 cursor: pointer;
}
.layout-logo:hover{
  transform: scale(1.04);
}
.nav-link {
  color: #FFD700;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #FFEB3B;
  text-shadow:
    0 0 5px #FFD700,
    0 0 10px #FFD700,
    0 0 20px #FFD700;
}
