.meal-cards-div{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.meal-component-div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
